section{
    background: #fff;
    padding:80px 0;
  }
  
  .services-section {
    background: #fff;
  overflow: hidden;
}

.service-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 380px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  transition: all 0.5s ease;
}
.service-card:hover img {
  transform: scale(1.05);
  filter: brightness(40%);
}

/* النص ظاهر دائمًا */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 60%, transparent 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  transition: all 0.5s ease;
}

/* حركة عند الهوفر */
.service-card:hover .overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.3) 70%, transparent 100%);
  transform: translateY(-5px);
}

.overlay h3 {
  color: var(--lighit1);
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}
.overlay p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.btn-gold-sm {
  align-self: flex-start;
  background: linear-gradient(135deg, var(--lighit1) , var(--lighit2) );
  border: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.btn-gold-sm:hover {
  background: linear-gradient(135deg, var(--lighit2) , var(--lighit1));
  transform: translateY(-3px);
}


.stats{
position: absolute;
top: -50px;
}
.stats .col-12{
    background: transparent;
}
.stats .num{
    text-align: center;
}
.num p{
    margin: 0;
    font-size: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: #AE8C64;
    font-weight: bold;
}

@media(max-width:768px){
    section{
        padding: 250px 0 60px;
    }
    .stats{
        top: -170px;
    }
}