<section class="" data-aos="fade-up">
  <div class="stats w-100">
    <div class="container bg-white p-4 rounded-1 shadow">
      <div class="row gy-4">
        <div class="col-md-4 col-12">
          <div class="num">
            <p>{{ counters[0].value }} +</p>
            <span>مسطحات البناء</span>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="num">
            <p>{{ counters[1].value }} +</p>
            <span>مساحة الأرض</span>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="num">
            <p>{{ counters[2].value }} +</p>
            <span>الوحدات</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="title" data-title="خدماتنا" data-aos="fade-up">خدماتنا</h2>


  <div class="services-section">
    <div class="container">
      <div class="text-center mb-5">
      </div>

      <div class="row g-4">
        <!-- خدمة 1 -->
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="service-card always-visible">
            <img
              src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585401/interface_104_2_ysmw3f.webp"
              alt="التطوير العقاري"
            />
            <div class="overlay">
              <h3>الإستثمار العقاري</h3>
              <p>
                نوفر فرصًا استثمارية مدروسة بعناية تضمن عوائد مجزية ومستقرة على
                المدى الطويل. نربط المستثمرين بالمشاريع العقارية الأنسب لرؤوس
                أموالهم وأهدافهم.
              </p>
              <button class="btn-gold-sm" routerLink="/services">
                اكتشف المزيد
              </button>
            </div>
          </div>
        </div>

        <!-- خدمة 2 -->
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="service-card always-visible">
            <img
              src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585400/room102_2_k9kbwy.jpg"
              alt="التطوير العقاري"
            />
            <div class="overlay">
              <h3>التطوير العقاري</h3>
              <p>
                نحوّل الأفكار إلى مشاريع عقارية متكاملة من التصميم إلى التنفيذ،
                مع التركيز على الجودة والاستدامة. نضمن تطوير مجتمعات حديثة تلبي
                احتياجات العملاء وتواكب تطلعات السوق.
              </p>
              <button class="btn-gold-sm" routerLink="/services">
                اكتشف المزيد
              </button>
            </div>
          </div>
        </div>

        <!-- خدمة 3 -->
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="600">
          <div class="service-card always-visible">
            <img
              src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585401/interface_102_2_ioircy.jpg"
              alt="الاستشارات العقارية"
            />
            <div class="overlay">
              <h3>الاستشارات العقارية</h3>
              <p>
                نقدم استشارات متخصصة لمساعدة العملاء في اتخاذ قرارات عقارية
                مبنية على بيانات دقيقة ورؤية واضحة. ندعم عملاءنا بخبراتنا في
                السوق لضمان أفضل النتائج في الشراء، البيع أو التطوير.
              </p>
              <button class="btn-gold-sm" routerLink="/services">اكتشف المزيد</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
