<div style="background: var(--blue2);">
<app-header></app-header>

</div>
<section class="p-60" id="projects">
  <div class="container" data-aos="fade-up">
    <h2 class="title">مشاريعنا</h2>

    <div class="row gy-4">
      <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
        <div class="box bg-white">
          <div class="img_cont">
            <img src="assets/101/interface_101.webp" alt="واجهة 101" />
            <span>جاهز</span>
          </div>
          <div class="text">
            <h3>حلم 101</h3>
            <a class="btn_sp2" routerLink="/helm-101"> <span>عرض المشروع</span></a>
          </div>
          <div class="lay"></div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
        <div class="box bg-white">
          <div class="img_cont">
            <img src="assets/102/interface_102.webp" alt="واجهة 102" />
            <span>تحت التشطيب</span>
          </div>
          <div class="text">
            <h3>حلم 102</h3>
            <a class="btn_sp2" routerLink="/helm-102"> <span>عرض المشروع</span></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
        <div class="box bg-white">
          <div class="img_cont">
            <img src="assets/103/interface_103.webp" alt="واجهة 103" />
            <span>تحت الإنشاء</span>
          </div>
          <div class="text">
            <h3>حلم 103</h3>
            <a class="btn_sp2" routerLink="/helm-103"> <span>عرض المشروع</span></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
        <div class="box bg-white">
          <div class="img_cont">
            <img src="assets/104/interface_104_1.WebP" alt="واجهة 104" />
            <span>تحت الإنشاء</span>
          </div>
          <div class="text">
            <h3>حلم 104</h3>
            <a class="btn_sp2" routerLink="/helm-104"> <span>عرض المشروع</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>