
section{
    background-color: #f5f6f9;
}
.header{
    height: 20vh;
    background: var(--blue2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 55px;
    color: #fff;
}
img{
    width: 100%;
    height: 280px;
    transition: 0.6s;
    border-radius: 5px 5px 0 0;
}
.box{
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.img_cont{
    overflow: hidden;
    position: relative;
}
.img_cont span{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 9px;
    color: #fff;
    background: #f6b28181;
    padding:3px  0;
    width: 70px;
    border-radius: 5px;
    text-align: center;
}
.box:hover img{
    scale: 1.05;
}
.text {
    padding: 0 20px 5px;
    text-align: center;
}
.text h3{
    color: var(--blue1);
    font-size: 20px;
    margin-top: 10px;
}

.text a{
    padding: 5px 10px;
    margin: 10px 0;
}

@media(max-width:578px){
    .container{
        padding: 80px 10px;
    }
    .header h1{
    font-size: 30px;
    color: #fff;
}
}
