<section class="values-section py-5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- العناصر -->
      <div class="">
        <div class="values-box">
          <div class="value-item" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa-solid fa-medal"></i></div>
            <h3>الجودة</h3>
            <p>
              نلتزم بتقديم مشاريع عقارية بمعايير عالية تحقق راحة ورفاهية
              عملائنا.
            </p>
          </div>

          <div class="value-item" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa-solid fa-rocket"></i></div>
            <h3>السرعة</h3>
            <p>ننجز معاملات البيع بكفاءة وسرعة لتوفير وقت عملائنا.</p>
          </div>

          <div class="value-item" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="fa-solid fa-lightbulb"></i></div>
            <h3>الابتكار</h3>
            <p>
              نقدّم حلولاً عقارية مبتكرة تواكب تطلعات السوق وتلبي احتياجات
              المستقبل.
            </p>
          </div>

          <div class="value-item" data-aos="fade-up" data-aos-delay="700">
            <div class="icon"><i class="fa-solid fa-handshake"></i></div>
            <h3>الأمانة</h3>
            <p>نضع الشفافية والثقة أساساً لعلاقتنا مع العملاء والشركاء.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
