<section>
    <div class="container-fluid">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="box">
                    <i class="fa-solid fa-medal"></i>
                    <h3>الجودة</h3>
                    <p>نلتزم بتقديم مشاريع عقارية بمعايير عالية تحقق راحة ورفاهية عملائنا.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                   <i class="fa-regular fa-lightbulb"></i>
                    <h3>الإبتكار</h3>
                    <p>نقدّم حلولًا عقارية مبتكرة تواكب تطلعات السوق وتلبي احتياجات المستقبل.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12"  data-aos="fade-up" data-aos-delay="350">
                <div class="box">
                   <i class="fa-solid fa-rocket"></i>
                    <h3>السرعة</h3>
                    <p>ننجز معاملات البيع بكفاءة وسرعة لنوفّر وقت عملائنا.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12"  data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                   <i class="fa-solid fa-handshake-angle"></i>
                    <h3>الأمانة</h3>
                    <p>نضع الشفافية والثقة أساسًا لعلاقتنا مع العملاء والشركاء.</p>
                </div>
            </div>
        </div>
    </div>
</section>
