<div class="landing">
  <div class="header">
    <app-header></app-header>
  </div>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="2000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760602505/interfase_106_2_aw4qnc.jpg"
          class="w-100 h-100 show"
          alt="landing-img"
        />
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760708024/%D8%B9%D8%B0%D9%88%D8%A8_%D8%A7%D9%84%D8%AD%D8%B1%D9%85_qgxpb6.png"
          class="w-100 h-100 hide"
          alt="landing-img"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585411/interface_103_lrbrer.jpg"
          class="w-100 h-100 show"
          alt="landing-img"
        />
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585414/1200_X_800_olqlwr.png"
          class="w-100 h-100 hide"
          alt="landing-img"
        />
      </div>

      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585406/room102_7_hfybry.jpg"
          class="w-100 h-100 show"
          alt="landing-img"
        />
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585412/room_1_nwtyy5.png"
          class="w-100 h-100 hide"
          alt="landing-img"
        />
      </div>

      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585400/room102_1_lyastj.jpg"
          class="w-100 h-100 show"
          alt="landing-img"
        />
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585412/room2_llvyqb.png"
          class="w-100 h-100 hide"
          alt="landing-img"
        />
      </div>

      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585400/room103_2_axusmi.jpg"
          class="w-100 h-100 show"
          alt="landing-img"
        />
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585412/room3_piaat1.png"
          class="w-100 h-100 hide"
          alt="landing-img"
        />
      </div>

      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585402/interface_104_1_ndllcj.jpg"
          class="w-100 h-100 show"
          alt="landing-img"
        />
        <img
          src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585412/104_mj8hly.png"
          class="w-100 h-100 hide"
          alt="landing-img"
        />
      </div>
    </div>
  </div>

  <div class="lay"></div>

  <div class="text">
    <div class="hero-text">
      <h1 class="hero-heading">شركة مدائن العقارية</h1>
      <p class="hero-subtext">
        شركة مدائن للتطوير العقاري هي شركة رائدة في مجال التطوير العقاري تقدم
        حلول عقارية مبتكرة تلبي احتياجات عملائنا
      </p>

      <div class="hero-buttons">
        <a
          href="https://drive.google.com/file/d/1hmw8qLuAJQiYcuduPOtVxkgKoDGNFcjJ/view?usp=sharing"
          target="_blank"
          class="btn_sp2"
          >الملف التعريفي</a
        >
      </div>
    </div>
  </div>
</div>
