.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-image: url(../../../../assets/hero.jpg);
  background-size: cover;
  background-position: center right;
}

.lay {
  position: absolute;
  z-index: 1;
  background: #00000093;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.cont {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hero_text h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

h1 .s1 {
    position: relative;
    z-index: auto; /* بدل 1 */
}

h1 .s1::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%; transform: translateX(-50%);
  background:linear-gradient(to left ,  #CE8C5B 80% , #F6B281 100%);
  width: 100%;
  height: 25px;
  border-radius: 10px;
  z-index: -1;
}

.s2 {
  color: var(--lighit2);
  font-weight: bold;
}




.statsRow {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.statCard {
  background: #003748b0;
  border: 1px solid #003748;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
  
}

.statCard__num {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.statCard__lbl {
  margin-top: 6px;
  font-size: 13px;
  color: var(--lighit2);
}

.btns{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btns button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  margin-top: 20px;
  transition: 0.3s;
}
.proj_btn{
  background: linear-gradient(to left ,  var(--blue2));
  color: #fff;
}
.proj_btn:hover{
  background: #fff;
  color: var(--blue2);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media(max-width:991px) {
  .cont{
    /* width: 70%; */
  }
  .hero_text h1 {
    font-size: 40px;
  }

  .hero_text h1 .s1::before {
    height: 20px;
  }

  .hero_text p {
    font-size: 12px;
  }

  .statsRow {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width:700px) {
  .cont{
    width: 90%;
  }
  .hero_text{
    width: 90%;
    text-align: center;
  }
  .s1{
    font-size: 35px;
  }
  .hero_text h1{
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_text h1 .s1::before{
    height: 15px;
    bottom: 0;
  }
  .btns button{
    font-size: 17px;
    padding: 8px 12px;
  }
    .hero_text .s2{
   line-height: 1.8;
  }
}

@media(max-width:400px) {
  .cont{
    width: 90%;
  }
  .hero_text{
    width: 90%;
    
  }
  .hero_text .s1{
    font-size: 28px;
  }

  .hero_text h1{
    font-size: 16px;
 
  }
  .hero_text h1 .s1::before{
    height: 10px;
    bottom: 0;
  }
  .btns button{
    font-size: 15px;
    padding: 8px 10px;
  }
}