<div class="landing">
  <div class="header">

      <app-header></app-header>
  </div>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="2000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
          src="assets/103/interface_103.webp"
          class="w-100 h-100 show"
          alt="landing-img"
          />
          <img
            src="assets/1200 X 800.png"
            class="w-100 h-100 hide"
            alt="landing-img"
          />
        </div>

        <div class="carousel-item">
          <img
            src="assets/102/room102_7.webp"
            class="w-100 h-100 show"
            alt="landing-img"
          />
          <img
            src="assets/room 1.png"
            class="w-100 h-100 hide"
            alt="landing-img"
          />
        </div>

        <div class="carousel-item">
          <img
            src="assets/102/room102_1.webp"
            class="w-100 h-100 show"
            alt="landing-img"
          />
          <img
            src="assets/room2.png"
            class="w-100 h-100 hide"
            alt="landing-img"
          />
        </div>

        <div class="carousel-item">
          <img
            src="./assets/103/room103_2.webp"
            class="w-100 h-100 show"
            alt="landing-img"
          />
          <img
            src="./assets/room3.png"
            class="w-100 h-100 hide"
            alt="landing-img"
          />
        </div>

        <div class="carousel-item">
          <img
            src="assets/104/interface_104_1.WebP"
            class="w-100 h-100 show"
            alt="landing-img"
          />
          <img
            src="assets/104.png"
            class="w-100 h-100 hide"
            alt="landing-img"
          />
        </div>

      </div>
    </div>

    <div class="lay"></div>

    <div class="text" >
      <div data-aos="fade-up">
              <h1>شركة <span>مدائن</span> للتطوير العقاري</h1>
      <p>شركة مدائن للتطوير العقاري هي شركة رائدة في مجال التطوير العقاري تقدم حلول عقارية مبتكرة تلبي احتياجات عملائنا </p>

      <a href="https://drive.google.com/file/d/1M91Gg2sNpGr5H2ROQlfC4trpF0JDEh8x/view?usp=sharing" class="btn_sp"> <span>الملف التعريفي</span></a>
      </div>
    </div>
  </div>
