<header class="">
  <div class="container d-flex justify-content-between align-items-center px-2">
    @if (logo) {
    <img
      src="assets/logo-white.png"
      alt="شعار الشركة"
      style="width: 120px"
      routerLink="/home"
      loading="lazy"
    />
    }@else {
    <img
      src="assets/logo-blue.png"
      alt="شعار الشركة"
      style="width: 120px"
      routerLink="/home"
      loading="lazy"
    />

    }
    <ul class="links" [ngClass]="{ open: open, close: open }">
      <li>
        <a routerLink="/home" routerLinkActive="active">الصفحة الرئيسية</a>
      </li>
      <li><a routerLink="/about" routerLinkActive="active">من نحن</a></li>
      <li>
        <a [routerLink]="['/services']" routerLinkActive="active">خدماتنا</a>
      </li>
      <li>
        <a [routerLink]="['/projects']" routerLinkActive="active">مشاريعنا </a>
      </li>
      <li style="cursor: pointer">
        <a (click)="openContact = true ; open = true">اتصل بنا</a>
      </li>
    </ul>
    <i
      class="fa-solid fa-bars-staggered d-md-none d-block bar"
      (click)="open = !open"
    ></i>
  </div>

</header>

<div
  class="cont_lay"
  [ngClass]="{ open_cont: openContact }"
  (click)="openContact = false"
></div>

<div class="contact" [ngClass]="{ open_cont: openContact }" >
  <i
    class="fas fa-xmark position-absolute close_cont"
    (click)="openContact = false"
  ></i>
  <div class="row align-items-center h-100">
    <div class="col-4">
      <div class="box" (click)="openWhatsApp()">
        <i class="fab fa-whatsapp"></i>
        <span>واتساب</span>
      </div>
    </div>
    <div class="col-4">
      <div class="box" (click)="openCall()">
        <i class="fas fa-phone"></i>
        <span>اتصال</span>
      </div>
    </div>
    <div class="col-4">
      <div class="box" (click)="sendEmail()">
        <i class="fas fa-envelope"></i>
        <span>ايميل</span>
      </div>
    </div>
  </div>
</div>
