.cities-section {
    padding: 0 0 90px;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    z-index: 0;
}
.city-box {
    position: relative;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 3;
}

.city-box:hover {
    transform: scale(1.03);
}

.city-box .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 55, 72, 0.85),
            rgba(0, 55, 72, 0.4),
            rgba(0, 55, 72, 0.1));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: #fff;
}

.city-box h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.city-box p {
    font-size: 15px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.btn-city {
    background: #F6B281;
    color: #003748;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    transition: 0.3s;
}

.btn-city:hover {
    background: #CE8C5B;
    color: #fff;
}

/* خلفيات المدن */
.mecca {
    background-image: url('../../../../assets/mecca\ \(2\).jpg');
    background-size: cover;
    background-position: center;
}

.jeddah {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/d3/4e/25/illuminate-the-fountain.jpg?chk=v1_012cd5d51096d2b363aa&cx=337&cy=320&h=-1&s=1&w=800');
    background-size: cover;
    background-position: center;
}

@media(max-width:991px) {
    .city-box {

        height: 350px;

    }

    .cities-section {
    padding: 80px 0 90px;
    position: relative;
}

}