<section class="partnership-section p-60">
  <div class="container" data-aos="fade-up" data-aos-delay="500">
    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-6 order-2 order-lg-1 mt-5 mt-lg-0 bayot_text"
              >
                <h2 class="fw-bold mb-4 text-gold" data-aos="fade-left">
                  {{ "bayot.sec1.title" | translate }}
                </h2>
                <p class="lead text-secondary mb-3">
                  {{ "bayot.sec1.des1" | translate }}
                </p>
                <p class="text-secondary">
                  {{ "bayot.sec1.des2" | translate }}
                </p>
              </div>

              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <div class="image-wrapper">
                  <img
                    src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760879465/%D8%A8%D9%8A%D9%88%D8%AA2_x1v3lp.jpg"
                    class="img-fluid rounded-4 animate-fade"
                    alt="شراكة مدائن مع بيوت السعودية"
                  />
                  <div class="image-overlay"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-6 order-2 order-lg-1 mt-5 mt-lg-0 bayot_text"
              >
                <h2 class="fw-bold mb-4 text-gold" data-aos="fade-left">
                  {{ "bayot.sec2.title" | translate }}
                </h2>
                <p class="lead text-secondary mb-3">
                  {{ "bayot.sec2.des" | translate }}
                </p>
              </div>

              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <div class="image-wrapper bg-black h-100 w-100">
                  @if(isBrowser){
                  <iframe
                    class="w-100 frame"
                    src="https://www.youtube.com/embed/Ek7zJcdQ5B4?si=FRLZclO05XaBhaky"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-6 order-2 order-lg-1 mt-5 mt-lg-0 bayot_text"
              >
                <h2 class="fw-bold mb-4 text-gold" data-aos="fade-left">
                  {{ "bayot.sec3.title" | translate }}
                </h2>
                <p class="lead text-secondary mb-3">
                  {{ "bayot.sec3.des" | translate }}
                </p>
              </div>

              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <div class="image-wrapper bg-black h-100 w-100">
                  @if(isBrowser){
                  <iframe
                    class="w-100 frame"
                    src="https://www.youtube.com/embed/Hw0ifSk-EZE?si=kXQQxFg3H1rJjIft"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
