<section>
  <div class="sec_1">
    <app-header></app-header>
    <img
      src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760708523/interface106_b6l5ak.jpg"
      alt="واجهة 106"
      loading="lazy"
    />
    <div class="lay"></div>

    <h1 data-aos="fade-up">حلم 106</h1>
  </div>

  <!-- sec 2  -->

  <div class="sec_2 p-60">
    <h2 class="proj_title" data-aos="fade-up">وصف المشروع</h2>

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-left">
          <div class="box">
            <div class="disc">
              <h3 class="proj_title2">مزايا المشروع</h3>
              <p class="">
                المشروع عبارة عن شقق تمليك بمدينة جدة ، تقع في موقع استراتيجي ،
                تتميز ببراعة تصميمها المعماري الفريد ومساحتها الواسعة التي تعطي
                المزيد من الراحة والهدوء. العقار عباره عن عماره سكنية مكونة من 6
                أدوار ، عباره عن عدد 18 شقة مختلفة المساحات
              </p>
              <ul class="m-0 me-3">
                <li>ضمان 25 سنة على قواطع الكهرباء</li>
                <li>ضمان 25 سنة على تأسيسات السباكة</li>
                <li>ضمان 25 سنة على هيكل البناء</li>
                <li>ضمان 5 سنة على الكهرباء والسباكة</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12" data-aos="fade-right">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="2000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760597650/loppy_106-1_vrocfk.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760597625/room106_3_lgjtho.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760597574/room106_4_z5srrk.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585404/room103_3_blo1oo.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760597402/room106_1_f7og4r.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760597091/room106_5_vmhrq8.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760597090/room106_2_ytvykh.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                  loading="lazy"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev ctrl"
              type="button"
              data-bs-target="#carouselExampleSlidesOnly"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden"></span>
            </button>

            <!-- زر التالي -->
            <button
              class="carousel-control-next ctrl"
              type="button"
              data-bs-target="#carouselExampleSlidesOnly"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 2  -->

  <!-- sec 3  -->
  <div class="sec_3 p-60">
    <h2 class="proj_title" data-aos="fade-up">موقع المشروع</h2>
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-left">
          <div class="box">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3661.1629974684015!2d39.1295052!3d21.606863!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3da43995e6937%3A0x4edd39d6bcb190d2!2s3188%20Asiyah%20Al%20Asadi%2C%20Al%20Zahra%2C%20Jeddah%2023522!5e1!3m2!1sen!2ssa!4v1760603536362!5m2!1sen!2ssa"
              
              height="300"
              style="border: 0 ; width: 100%;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="col-lg-6 col-12" data-aos="fade-right">
          <div class="box p-3">
            <h3 class="proj_title2">مزايا الموقع</h3>
            <p class="">
              يقع مشروع حلم 106 في مدينة جدة في شارع عصية الأسدي وقريب من طريق
              الملك عبد العزيز وقريب من شارع كهل الأزدي وقريب شارع حراء
            </p>

            <a
              href="https://maps.app.goo.gl/sTAPUuMSUMTtvhFh9"
              target="_blank"
              class="btn_sp2 p-2"
            >
              <span>الوصول الى الموقع</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 3  -->
</section>
<app-footer></app-footer>
