
.sec_1{
    background: var(--blue2);
    color: #fff;
    padding-bottom: 40px;
}
.sec_1 h1{
    text-align: center;
    margin: 35px 0 50px;
    font-size: 50px;
}
.sec_1 p{
    line-height: 1.8;
    font-size: 16px;
}
.sec_1 img{
    width: 450px;
}
@media(max-width:991px){
.box {
    text-align: center;
}
}
@media(max-width:768px){
    .sec_1 h1 {
        font-size: 30px;
    }
    .sec_1 p {
        font-size: 13px;
    }
    .sec_1 img {
        width: 300px;
    }
}
.item{
    background: #f5f6f9;
    padding: 30px 10px 10px;
    border-radius: 7px;
    box-shadow: var(--shadow);
    position: relative;
    text-align: center;
    height: 170px;
}
.item h3{
    color: var(--lighit1);
}
.item p {
    font-size: 12px;
    color: #777;
}
.item i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    top: -30px;
    color: var(--blue2);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}


.sec_2 img{
    border: 10px solid #fff;
    outline: 1px solid var(--lighit1);
    margin-bottom: 25px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  height: 400px;
}

.sec_2 .box h3{
    font-size: 22px;
    color: var(--lighit1);
}
.sec_2 .box p {
    color: var(--blue2);
}
.quit{
    font-size: 13px;
    line-height: 1.8;
    color: #333;
    padding: 20px;
}
.quit h2{
    color: var(--lighit2);
    margin-bottom: 30px;
}
span i {
    color: var(--blue2);
    font-size: 20px;
}
.up{
    top: 0;
    right: -30px;
    margin-left: 10px;
}
.down{
    margin-right: 10px;
}

@media(max-width:768px){
    .sec_2 img {
        height: 300px;
    }
    .quit{
        padding: 0;
    }
}
@media(max-width:578px){
    .sec_2 .box h3{
        font-size: 16px;
    }
    .sec_2 .box p {
        font-size: 13px;
    }
    .quit h2{
        font-size: 17px;
    }
    .quit span{
        font-size: 10px;
    }
}








.chairman-section {
  background: #fff;
  padding: 50px 20px;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.text {
  flex: 1 1 60%;
  background-color: #fdfdfd;
  padding: 25px;
  border-right: 5px solid var(--lighit1);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.text h2 {
  color: var(--lighit2);
  font-size: 28px;
  margin-bottom: 20px;
}

.text blockquote {
  font-size: 13px;
  color: var(--blue2);
  line-height: 1.5;
  margin: 0;
}

.signature {
  margin-top: 30px;
  color: var(--blue1);
}

.signature strong {
  font-size: 16px;
  color: var(--lighit2);
}


