<section class="about">
  <div class="sec_1">
    <div class="container">
      <app-header></app-header>

      <div data-aos="fade-up">
        <h1>من نحن</h1>

        <div class="row gy-4 align-items-center">
          <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-up">
            <div class="box">
              <p class="m-0 text-center text-lg-end">
                شركة مدائن للتطوير العقاري هي شركة تطوير عقاري مرخصة في المملكة
                العربية السعودية وتهدف إلى تطوير مشاريع سكنية وتجارية عالية
                الجودة تتماشى مع مستهدفات رؤية المملكة 2030، وتُسهم في رفع نسبة
                تملك المواطنين وتحقيق التنمية العمرانية المستدامة. تعتمد الشركة
                على منهجية تطوير متكاملة تبدأ من دراسة الجدوى وتحديد المواقع
                الاستراتيجية، مروراً بالتصميم والترخيص و وصولاً إلى التنفيذ
                والتسويق والتسليم مع الالتزام التام بالامتثال التنظيمي، وجودة
                البناء، وخدمة ما بعد البيع. تتبنى الشركة نموذجاً تشغيلياً يوازن
                بين العائد الاستثماري والاستدامة طويلة المدى، من خلال شراكات مع
                المقاولين والموردين المرخصين وبرامج التمويل العقاري الميسرة،
                والاعتماد على تقنيات البناء الذكي لتعزيز كفاءة التشغيل وقيمة
                المنتج النهائي.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <div
              class="img_cont d-flex align-items-center justify-content-center"
            >
              <img src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585408/logo_lch1hw.png" alt="الشعار" loading="lazy"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row gy-5 mt-5">
        <div class="col-md-6 col-12" data-aos="fade-left">
          <div class="item">
            <i class="far fa-eye"></i>
            <h3>رؤيتنا</h3>
            <p>
              أن نكون من الشركات الرائدة في تطوير المشاريع العقارية المستدامة
              والذكية في المملكة العربية السعودية، وأن تساهم في إعادة تعريف جودة
              السكن والتجربة العمرانية المتكاملة.
            </p>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <div class="item">
            <i class="fa-regular fa-envelope"></i>
            <h3>رسالتنا</h3>
            <p>
              تطوير مشاريع عمرانية متكاملة تلبي احتياجات المجتمع وتحقق تطلعات
              العملاء والمستثمرين. من خلال الابتكار في التصميم الالتزام بالجودة،
              والامتثال الكامل للأنظمة، والمعايير الوطنية.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sec_3 my-5">
    <h2 class="title" data-title="قيمنا">قيمنا</h2>
    <app-qemna></app-qemna>
  </div>

  <div class="sec_2 p-60">
    <div class="container">
      <div class="row gy-4 align-items-stretch">
        <div class="col-lg-6 col-12" data-aos="fade-up">
          <div class="box">
            <img src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585413/taher_jt0zya.jpg" alt="manger" class="w-100" loading="lazy"/>
            <div>
              <h3>رئيس مجلس الإدارة لشركة مدائن العقارية</h3>
              <p>أ/ طاهر آل مصلح</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-delay="800">
          <div class="quit text-lg-end text-center">
            <h2>كلمة رئيس مجلس الإدارة</h2>
            <span class="position-relative d-block">
              <i class="fas fa-quote-right-alt up"></i>
              بسم الله الرحمن الرحيم والصلاة والسلام على أشرف المرسلين سيدنا
              محمد وعلى آله وصحبه أجمعين خلق الله عز وجل الإنسان ليكون خليفته في
              الأرض، وكلفنا بمهام شريفة وواضحة أبرزها عمارة الأرض ونحن بفضل الله
              نبني ونعمر عسى الله أن يتقبل جهودنا وينعم علينا بالتوفيق فيما نحن
              ماضون فيه.... مشوار الألف ميل يبدأ بخطوة، ونحن منذ بداية عملنا
              وعلى خطى 20 عامًا من الخبرة نمضي للأمام لبناء المستقبل بخطوات من
              الأمل والعزيمة والإصرار على تحقيق النجاح والإنجازات الملموسة. نفخر
              بتقديم حلولنا العقارية التي تلبي احتياجات إخواننا وأخواتنا وتدعم
              رؤية الوطن الغالي رؤية المملكة العربية السعودية 2030 فطموحنا أن
              تكون شركة مدائن للتطوير العقاري ركيزة أساسية في خطة الازدهار
              والتقدم التي تشهدها المملكة.
              <br />
              <span class="mt-2 d-block">
                نؤمن بأن العقار هو أكثر من مجرد مبنى، إنه استثمار في المستقبل
                منذ تأسيسنا ونحن نضع نصب أعيننا تقديم مشاريع تلبي تطلعات عملائنا
                وتساهم في تعزيز الاقتصاد الوطني. ى جاهدين بفضل الله عز وجل على
                تقديم أرقى الخدمات على مستوى عالي من الجودة والكفاءة والأمانة،
                وذلك من خلال فريق عمل قوي ومحترف يعمل على قدم وساق لإرضاء
                عملائنا وتقديم أفضل الحلول العقارية الذكية. وتسع أشكر الله عز
                وجل أن حبانا في المملكة العربية السعودية ولاة أمرنا يسعون دائمًا
                في تحقيق جودة الحياة للمواطنين والمقيمين المتضمنة في رؤية 2030،
                والشكر موصول لكل من وقف معي وساندني في تأسيس الشركة من المطورين
                العقاريين في مدينة جدة التي تمتد خبراتهم لأكثر من 20 عاما. والله
                ولي التوفيق....
                <i class="fas fa-quote-left-alt down"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
