<section class="about">
  <div class="sec_1">
    <div class="container">
      <app-header></app-header>

      <div data-aos="fade-up">
        <h1>{{ "about_sec.title" | translate }}</h1>

        <div class="row gy-4 align-items-center">
          <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-up">
            <div class="box">
              <p class="m-0">
                {{ "about_sec.des" | translate }}
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <div
              class="img_cont d-flex align-items-center justify-content-center"
            >
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585408/logo_lch1hw.png"
                alt="الشعار"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row gy-5 mt-5">
        <div class="col-md-6 col-12" data-aos="fade-left">
          <div class="item">
            <i class="far fa-eye"></i>
            <h3>{{ "vesion.ves" | translate }}</h3>
            <p>
              {{ "vesion.ves_des" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <div class="item">
            <i class="fa-regular fa-envelope"></i>
            <h3>{{ "vesion.message" | translate }}</h3>
            <p>
              {{ "vesion.message_des" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sec_3 my-5">
    <h2 class="title" [attr.data-title]="'about_sec.title2' | translate">
      {{ "about_sec.title2" | translate }}
    </h2>
    <app-qemna></app-qemna>
  </div>

  <div class="sec_2 p-60">
    <div class="container">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-up" data-aos-delay="800">
          <div class="quit">
            <div class="content">
              <div class="text">
                <h2>{{ "about_sec.speech" | translate }}</h2>
                <blockquote>
                  <p>
                    {{ "about_sec.word1" | translate }}
                  </p>
                  <p>
                    {{ "about_sec.word2" | translate }}
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12" data-aos="fade-up">
          <div class="box">
            <img
              src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585413/taher_jt0zya.jpg"
              alt="manger"
              class="w-100"
              loading="lazy"
            />
            <div>
              <h3>{{ "about_sec.jop" | translate }}</h3>
              <p>{{ "about_sec.name" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
