
/* fonts  */
@import 'swiper/swiper-bundle.css';

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

* {
  font-family: "El Messiri", sans-serif;
  padding: 0;
  margin: 0;
  /* direction: rtl; */
  box-sizing: border-box;
  transition: 0.3s;
}

:root{
  --lighit1: #F6B281 ;
  --lighit2: #CE8C5B ;
  --blue1: #005773 ;
  --blue2: #003748 ;
  --shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
}

html, body {
  overflow-x: hidden;
}


 .swiper {
  direction: ltr;
  text-align: center;
}
/* component  */

.btn_sp2 {
  position: relative;
  background: var(--blue2);
  color: #fff;
  border: none;
  padding: 12px 40px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  /* width: fit-content; */
}
.btn_sp2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  transition: 0.6s;
}
.btn_sp2:hover::before {
  left: 100%;
}
.btn_sp2:hover {
  background: var(--lighit2);
}
.btn_sp {
  position: relative;
  background: var(--lighit2);
  color: #fff;
  border: none;
  padding: 12px 40px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  text-decoration: none;
}
.btn_sp::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  transition: 0.6s;
}
.btn_sp:hover::before {
  left: 100%;
}
.btn_sp:hover {
  background: var(--blue2);
}


.p-60{
  padding: 80px 0;
}


.section-title{
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
}

.section-title h2{
  margin: 0;
  font-size: clamp(24px, 2.2vw, 36px);
  font-weight: 900;
  color: var(--blue2);
  letter-spacing: .5px;
  position: relative;
}


.section-title h2::after{
  content:"";
  display:block;
  width: 90px;
  height: 4px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--lighit2), transparent);
}



.size .hide{
    display: none;
}

@media(max-width:768px){
   .size .hide{
        display: block;
    }
    .size .show{
        display: none;
    }
}
/* language  */

html.ar .bayot_text{
  text-align: end;
}

@media(max-width:768px){
  html.ar .bayot_text{
  text-align: center;
}
}
/* language  */

html.ar .madain img{
    left: 10px;

}
html.en .madain img{
    right: 10px;

}
.madain_p{
    font-size: 16px;
    margin-top: 7px;
}
@media(max-width:578px){
    .madain_p{
        font-size: 12px;
    }
}
.proj_title2{
position: relative;
color: var(--blue2);
width: fit-content;
font-size: 20px;
margin-bottom: 20px;
}
.proj_title2::before{
    position: absolute;
    content:'' ;
    width: 40px;
    height: 1px;
    background: var(--lighit2);
    bottom: -10px;
}

html.ar .proj_title2::before {
    right:0;

}
html.en .proj_title2::before {
    left:0;

}

html.en .pCard i {
  rotate: 180deg;
}


@media(max-width:991px){
    html.ar .links{
        left: 10px;
    }
    html.en .links{
        right: 10px;
    }

}



/* ====================== new updaates ====================== */

.feature-card {
  background-color: #ffffff;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

html.ar .section-header p{
  text-align: right;
}
html.en .section-header p{
  text-align: left;
}



.swiper-pagination-bullet {
  background: #CE8C5B !important; /* لونك */
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #005773;
  opacity: 1;
  transform: scale(1.2);
}

.swiper {
  position: relative;
}

/* أزرار السابق / التالي */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--blue2);
  top: 55%;
  transform: translateY(-50%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 5px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px; /* صغّر الرقم براحتك */
  font-weight: bold;

}

/* اليسار */
.swiper-button-prev {
  left: 10px;
}

/* اليمين */
.swiper-button-next {
  right: 10px;
}
