
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

* {
  font-family: "El Messiri", sans-serif;
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
  transition: 0.3s;
}

:root{
  --lighit1: #F6B281 ;
  --lighit2: #CE8C5B ;
  --blue1: #005773 ;
  --blue2: #003748 ;
  --shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
}

html, body {
  overflow-x: hidden;
}

/* component  */

.btn_sp{
  background: var(--blue2);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  transition-delay: 0.1s;
}
.btn_sp span{
  position: relative;
  z-index: 1;
}
.btn_sp::before{
  content: '';
  position: absolute;
  left: 0;
  top: -50px;
  width: 200%;
  height: 400%;
  background: #fff;
  border-radius: 5px;
  rotate: -20deg;
  transform: translateX(-101%);
  transition: 0.3s;
  z-index: 0;
}
.btn_sp:hover::before{
  transform: translateX(0);
}
.btn_sp:hover{
    color: var(--blue2);
}

.btn_sp2{
  background: var(--lighit1);
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  transition-delay: 0.1s;
}
.btn_sp2 span{
  position: relative;
  z-index: 1;
}
.btn_sp2::before{
  content: '';
  position: absolute;
  left: 0;
  top: -50px;
  width: 200%;
  height: 400%;
  background: var(--blue2);
  border-radius: 5px;
  rotate: -20deg;
  transform: translateX(-101%);
  transition: 0.3s;
  z-index: 0;
}
.btn_sp2:hover::before{
  transform: translateX(0);
}
.btn_sp2:hover{
    color: #fff;
}


.title{
  color: var(--lighit2);
  font-size: 50px;
  text-align: center;
  margin: 0 auto 50px;
  font-weight: bold;
  position: relative;
  width: fit-content;
}
.title::before , .title::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--blue2);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.title::before{
  left: -40px;
}
.title::after{
  right: -40px;
}


@media(max-width:578px){
  .title{
    font-size: 35px;
  }
}

.p-60{
  padding: 80px 0;
}
