<footer>
  <div class="container p-2">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="logo">
          <img src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585408/logo_lch1hw.png" alt="شعار الشركة" loading="lazy"/>
          <div class="social">
            <a href="https://www.tiktok.com/@madain.re" class="">
              <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://x.com/almuslih1445" class="">
              <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/almuslih1445/" class="">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.snapchat.com/@madain.re" class="">
              <i class="fab fa-snapchat"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="box">
          <h3>التواصل</h3>
          <ul>
            <li (click)="location()">
              <i class="fas fa-location-dot"></i>
              <span
                >جدة - حي السلامة - شارع اليمامة - مركز اليمامة للاعمال - مكتب
                102</span
              >
            </li>
            <li (click)="openWhatsApp()">
              <i class="fab fa-whatsapp"></i>
              <span>0539885590</span>
            </li>
            <li (click)="openCall()">
              <i class="fas fa-phone"></i>
              <span>920016343</span>
            </li>
            <li (click)="sendEmail()">
              <i class="fas fa-envelope"></i>
              <span>marketing&#64;madain.sa</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="box">
          <h3>الصفحات</h3>
          <ul>
            <li routerLink="/home">الصفحة الرئيسية</li>
            <li routerLink="/about">من نحن</li>
            <li routerLink="/services">خدماتنا</li>
            <li routerLink="/projects">مشاريعنا</li>
            <li routerLink="/contact">تواصل معنا</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="copyright container">
    Madain Real Estate 2025 © Developed by <span>Madain </span>
  </div>
</footer>





