<section [ngClass]="title ? 'p' : 'w'">
  @if(title){
    <h2 class="title" data-aos="fade-up" data-title="مشاريعنا">مشاريعنا</h2>
  }
  <div class="container" data-aos="fade-up" data-aos-delay="500">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/f_auto,q_auto/v1760585404/interface_101_rse0mw.jpg"
                alt="واجهة 101"
                loading="lazy"
              />
              <span>جاهز</span>
            </div>
            <div class="text">
              <h3>حلم 101</h3>
              <a class="btn_sp" routerLink="/helm-101">
                <span>عرض المشروع</span></a
              >
            </div>
            <div class="lay"></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/f_auto,q_auto/v1760585399/interface_102_otgrpo.jpg"
                alt="واجهة 102"
                loading="lazy"
              />
              <span>تحت التشطيب</span>
            </div>
            <div class="text">
              <h3>حلم 102</h3>
              <a class="btn_sp" routerLink="/helm-102">
                <span>عرض المشروع</span></a
              >
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585411/interface_103_lrbrer.jpg"
                alt="واجهة 103"
                loading="lazy"
              />
              <span>تحت الإنشاء</span>
            </div>
            <div class="text">
              <h3>حلم 103</h3>
              <a class="btn_sp" routerLink="/helm-103">
                <span>عرض المشروع</span></a
              >
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585402/interface_104_1_ndllcj.jpg"
                alt="واجهة 104"
                loading="lazy"
              />
              <span>تحت الإنشاء</span>
            </div>
            <div class="text">
              <h3>حلم 104</h3>
              <a class="btn_sp" routerLink="/helm-104">
                <span>عرض المشروع</span></a
              >
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760585401/interface_104_2_ysmw3f.webp"
                alt="واجة 105"
                loading="lazy"
              />
              <span>تحت الإنشاء</span>
            </div>
            <div class="text">
              <h3>حلم 105</h3>
              <a class="btn_sp" routerLink="/helm-105">
                <span>عرض المشروع</span></a
              >
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760708023/interfase106_small_ylvr3p.jpg"
                alt="واجهة 106"
                loading="lazy"
              />
              <span>تحت الإنشاء</span>
            </div>
            <div class="text">
              <h3>حلم 106</h3>
              <a class="btn_sp" routerLink="/helm-106">
                <span>عرض المشروع</span></a
              >
            </div>
          </div>
        </div>


        <div class="swiper-slide">
          <div class="box bg-white">
            <div class="img_cont">
              <img
                src="https://res.cloudinary.com/drvtf0l8n/image/upload/v1760602505/interfase_106_2_aw4qnc.jpg"
                alt="واجهة عذوب"
                loading="lazy"
              />
              <span>قريبا . . .</span>
            </div>
            <div class="text">
              <h3>عذوب الحرم</h3>
            </div>
          </div>
        </div>


      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>



