<section>
  <div class="sec_1">
    <app-header></app-header>
    <img src="../../../assets/101/interface_101.webp" alt="" />
    <div class="lay"></div>

    <h1 data-aos="fade-up">حلم 101</h1>
  </div>

  <!-- sec 2  -->

  <div class="sec_2 p-60">
    <h2 class="proj_title">وصف المشروع</h2>

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-left">
          <div class="box">
            <div class="disc">
              <h3 class="proj_title2">مزايا المشروع</h3>
              <p class="">
                المشروع عبارة عن شقق تمليك بمدينة جدة ، تقع في موقع استراتيجي ، تتميز
                ببراعة تصميمها المعماري الفريد ومساحتها الواسعة التي تعطي المزيد
                من الراحة والهدوء.
                العقار عباره عن عماره سكنية مكونة من 5 أدوار ،  عباره عن عدد 14 شقة مختلفة المساحات
              </p>
              <ul class="m-0 me-3">
                <li>ضمان 25 سنة على قواطع الكهرباء</li>
                <li>ضمان 25 سنة على تأسيسات السباكة</li>
                <li>ضمان 25 سنة على هيكل البناء</li>
                <li>ضمان 5 سنة على الكهرباء والسباكة</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12" data-aos="fade-right">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="2500"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../../assets/101/3.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/101/4.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/101/5.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/101/6.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/101/7.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/101/8.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>

              <div class="carousel-item">
                <img
                  src="../../../assets/101/9.jpg"
                  class="w-100"
                  alt="صورة المشروع"
                />
              </div>
            </div>

                        <button
              class="carousel-control-prev ctrl"
              type="button"
              data-bs-target="#carouselExampleSlidesOnly"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden"></span>
            </button>

            <!-- زر التالي -->
            <button
              class="carousel-control-next ctrl"
              type="button"
              data-bs-target="#carouselExampleSlidesOnly"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 2  -->

  <!-- sec 3  -->
  <div class="sec_3 p-60">
    <h2 class="proj_title" data-aos="fade-up">موقع المشروع</h2>
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-left">
          <div class="box">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3709.887085117249!2d39.15601240000001!3d21.5903302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d08196a22bd7%3A0x3926f96c984520cf!2zSkVTQTc3MzTYjCA3NzM0INiz2YTZitmF2KfZhiDYqNmGINi52LfZitmH2IwgMzMxOdiMINit2Yog2KfZhNiz2YTYp9mF2KnYjCDYrNiv2KkgMjM0Mzc!5e0!3m2!1sar!2ssa!4v1759585219296!5m2!1sar!2ssa"
              height="300"
              style="border: 0"
              class="w-100"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="col-lg-6 col-12" data-aos="fade-right">
          <div class="box p-3">
            <h3 class="proj_title2">مزايا الموقع</h3>
            <p class="">
              يقع مشروع حلم 101 فى شارع عبدالرحمن السديري خلف مطعم اليك البخاري
              , ويمتاز بقربه من عدد من الطرق الرئيسية مثل طريق صقر قريش وطريق
              الأمير سلطان وطريق صاري وطريق الملك عبدالعزيز وطريق المدينة
              المنورة
            </p>

            <a
              href="https://maps.app.goo.gl/mmHz72KzPY4u5RhZ6"
              target="_blank"
              class="btn_sp2 p-2"
            >
              <span>الوصول الى الموقع</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 3  -->

  <!-- sec 4  -->
<!-- 
  <div class="sec_4 p-60">
    <h2 class="proj_title">نماذج المشروع</h2>

    <div class="container">

    </div>
  </div> -->
  <!-- sec 4  -->
</section>
<app-footer></app-footer>
