<div style="background: var(--blue2)">
  <app-header></app-header>
</div>

<section class="">
  <div class="header">
    <h1 class="">خدمتنا</h1>
  </div>
  <div class="sec_1 p-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12" data-aos="fade-left">
          <div class="box text-lg-end text-center">
            <h3>الاستثمار العقاري</h3>
            <p>
              نوفر فرصًا استثمارية مدروسة بعناية تضمن عوائد مجزية ومستقرة على
              المدى الطويل. نربط المستثمرين بالمشاريع العقارية الأنسب لرؤوس
              أموالهم وأهدافهم.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-12" data-aos="fade-right">
          <div class="img_cont">
            <img
              src="assets/102/interface_102_2.webp"
              alt="services"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- sec 2 -->

  <div class="sec_2 p-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-right">
          <div class="img_cont">
            <img
              src="assets/102/room102_5.webp"
              alt="services"
              class="w-100"
            />
          </div>
        </div>

        <div class="col-lg-6 col-12" data-aos="fade-left">
          <div class="box text-lg-end text-center">
            <h3>التطوير العقاري</h3>
            <p>
              نحوّل الأفكار إلى مشاريع عقارية متكاملة من التصميم إلى التنفيذ، مع
              التركيز على الجودة والاستدامة. نضمن تطوير مجتمعات حديثة تلبي
              احتياجات العملاء وتواكب تطلعات السوق.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 2 -->

  <!-- sec 3 -->

  <div class="sec_3 p-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12" data-aos="fade-left">
          <div class="box text-lg-end text-center">
            <h3>الاستشارات العقارية</h3>
            <p>
              نقدم استشارات متخصصة لمساعدة العملاء في اتخاذ قرارات عقارية مبنية
              على بيانات دقيقة ورؤية واضحة. ندعم عملاءنا بخبراتنا في السوق لضمان
              أفضل النتائج في الشراء، البيع أو التطوير.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-12" data-aos="fade-right">
          <div class="img_cont">
            <img
              src="assets/103/interface_103_2.webp"
              alt="services"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 3 -->
  <!-- sec 4 -->

  <div class="sec_4 p-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 order-lg-0 order-1" data-aos="fade-right">
          <div class="img_cont">
            <img
              src="assets/102/room102_4.webp"
              alt="services"
              class="w-100"
            />
          </div>
        </div>
        <div class="col-lg-6 col-12" data-aos="fade-left">
          <div class="box text-lg-end text-center">
            <h3>إدارة الأملاك</h3>
            <p>
              نقدّم خدمات متكاملة لإدارة العقارات باحترافية، تشمل التحصيل
              والصيانة والإشراف لضمان أعلى عائد استثماري وراحة الملاك
              والمستأجرين.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 4 -->

  <!-- se 5 -->

  <div class="sec_5 p-60">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12" data-aos="fade-left">
          <div class="box text-lg-end text-center">
            <h3> التسويق العقاري</h3>
            <p>
              نبتكر استراتيجيات تسويق عقاري فعّالة تجمع بين الإعلان الرقمي
              والميداني، لعرض العقارات بأفضل صورة وتحقيق أسرع نتائج مبيعات
              وتأجير.
            </p>
          </div>
        </div>

                <div class="col-lg-6 col-12 " data-aos="fade-right">
          <div class="img_cont">
            <img
              src="assets/104/interface_104_2.webp"
              alt="services"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sec 5 -->
</section>
<app-footer></app-footer>
